matplotlib
numpy
opencv-python
lightning
torchmetrics
torchinfo
tensorflow
tensorboardX
wandb
pandas
Pillow
black
timm
scipy
# jupyterlab items
ipywidgets
jupyterlab
# SoccerNet
SoccerNet
# YOLO
ultralytics
# COCO
cython
pycocotools
